<!DOCTYPE HTML>
<html>
    <head>
        <title>Collision Detection</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
         $(function(){
             $("#on").click(function(){ window.location.replace("http://192.168.0.24:5000/on")});
             $("#off").click(function(){ window.location.replace("http://192.168.0.24:5000/off")});
             });
         </script>
         <link rel = "stylesheet" type = "text/css" href= "../static/css/control_panel.css"/>
    </head>
    <body>
        <h1>Collision Detection</h1>
            <button id = "on"> ON </button><br>
            <button id = "off"> OFF </button>
    </body>
</html>
    
         
